body {
    text-align: center;
    background-color: darkcyan;
}

ul {
    background-color: #dddddd;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

th, td {
    border: 1px solid black;
    margin-top: 10px;
    text-align: center;
}


th, button {
    background-color: rgb(63, 123, 172);
    color: black;
    font-weight: bold;
    font-family: cursive;
}

td, button {
    background-color: cornflowerblue;
    color: darkblue;
    font-weight: bold;
}

table {
    text-align: center;
    margin: 15px auto;
}

#thPrenom {
    width: 150px;
}

#thNom {
    width: 100px;
}

h1, h3 {
  font-size: 48px;
  text-shadow: -1px -1px #9df, 1px 1px #49d, -3px 0 4px #000;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color:#6bf;
  font-weight:lighter;
  text-align:center;
}

h3 {
    font-size: 26px;
    text-shadow: -1px -1px rgb(66, 98, 114), 1px 1px #49d, -3px 0 4px #000;
}
