th, td {
    border: 1px solid black;
    margin-top: 10px;
    text-align: center;
}


th {
    background-color: aqua;
    color: black;
    font-weight: bold;
    font-family: cursive;
}

td {
    background-color: cornflowerblue;
    color: darkblue;
    font-weight: bold;
}

table {
    text-align: center;
    margin-top: 10px;
    display: inline;
    margin-right: 50px;
}
